{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% form_theme form 'ArnmAraneumBundle:Form:araneum.html.twig' %}

{% block sidebar %}
	<div class="alert alert-info hint">
		<span class="label label-info">{{ 'default.label.info'|trans }}</span><br/>
  		{{ 'menu.new.info'|trans({}, 'menu')|raw }}
	</div>
{% endblock %}

{% block title %}
	{{ parent() }} | {{ 'menu.form.title.new'|trans({}, 'menu') }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>{{ 'menu.form.title.new'|trans({}, 'menu') }}</h2>
	</div>
	
	{% include 'ArnmAraneumBundle:Misc:messages.html.twig' %}
	
	{% if form %}
		<form action="{{ path('arnm_menu_new') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			{{ form_widget(form) }}
			<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
    		    	<input class="btn btn-primary" type="submit" value="{{ 'menu.form.action.create'|trans({}, 'menu') }}"/>
    		    	<input class="btn" type="reset" value="{{ 'default.form.action.reset'|trans }}"/>
    		    	<a  class="btn" href="{{ path('arnm_menus') }}">{{ 'default.form.action.back_to_list'|trans }}</a>
    		    </div>
		    </div>
		</form>
	{% endif%}
{% endblock %}
